
.lineheig  {
    line-height: 1.4;
}

form {
    text-align: center;
}

.linespaci {
    padding-bottom: 1px;
    border-bottom: 4px solid white;
}

.bigun  {
    font-size: 65px;
}

.bigtxt  {
    margin-top: -10px;
    font-size: 48px;
    margin-bottom: 42px;
}

hr  {
    border-width: 0.27rem;
    border-color: white; 
}

.marg  {
    margin-top: 45px;
}

.pl-6  {
    padding-left: 6em;
}

.col-centered  {
    margin: 0 auto;
    float: none;
}

.ml-6  {
    margin-left: 50%;
}

.centered1 {
    position: absolute;
    left: 45%;
}

.ml-8  {
    margin-top: 120px !important;
}

.ml-9  {
    margin-left: 100px;
}